<div class="container">


    <%= link_to "New article", new_articles_path, class: "btn btn-success m-3 p-2" %>

  <ul>
    <% @articles.each do | article | %>
      <li><%= link_to article.title, article_path(article) %> - reading time: <%= article.reading_time %> minutes  - link: <%= link_to "short_link", article.source_link %></li>
    <% end %>
  </ul>

</div>
